@model IEnumerable<Ride>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_MainLayout.cshtml";
}

@section HEAD {
    <script>
        $(function () {
            $("#btnAdd").click(function () {
                location.href = '@Url.Action("Add")';
            });
        });
    </script>
}

<h2>Rides</h2>

<table class="table">
    <thead>
        <tr>
            <th>Description</th>
            <th>Date</th>
            <th>Distance</th>
            <th>Rider</th>
            <th>Bike</th>
            <th>Amount</th>
            <th>Notes</th>
        </tr>
    </thead>

    <tbody>
        @foreach(Ride ride in Model)
        {
            <tr>
                <td>@Html.ActionLink(ride.route, "View", new { id = ride.id })</td>
                <td>@ride.ride_date.ToString("ddd dd MMM yyyy")</td>
                <td>@ride.distance.ToString("0.#")</td>
                <td>@ride.rider</td>
                <td>@ride.bike</td>
                <td>@ride.reward.ToString("C")</td>
                <td>@ride.notesSummary()</td>
            </tr>
        }
    </tbody>
</table>

<button id="btnAdd" type="button" class="btn btn-default">Add Ride</button>
