@model IEnumerable<RideInfo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_MainLayout.cshtml";
}

<h2>Archived Rides</h2>

<table class="table">
    <thead>
        <tr>
            <th>Description</th>
            <th>Date</th>
            <th>Distance</th>
            <th>Rider</th>
            <th>Bike</th>
            <th>Amount</th>
            <th>Notes</th>
        </tr>
    </thead>

    <tbody>
        @foreach (RideInfo ride in Model)
        {
            <tr>
                <td>@ride.route</td>
                <td>@ride.ride_date.ToString("ddd dd MMM yyyy")</td>
                <td>@ride.distance.ToString("0.#")</td>
                <td>@ride.rider</td>
                <td>@ride.bike</td>
                <td>@ride.cash.ToString("C")</td>
                <td>@ride.notesSummary()</td>
            </tr>
        }
    </tbody>
</table>
